* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --toledo: #312229;
    --bordeaux: #54101d;
    --chambray: #47596f;
    --teak: #b18653;
    --stark-white: #d5c5ae;
}

html {
    font-size: 16px;
}

body{
    background-color: var(--teak);
    min-width: max-content;
    min-height: 100%;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6rem;
    padding: 2rem;
    background-color: var(--bordeaux);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 3rem;
}

.library-container{
    padding: 2rem;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

/*
    grid-template: 15rem 15rem / repeat(auto-fit, 1fr);

*/
}

.book-case{
    display: grid;
    grid-template: 3rem 15rem;
    gap: 2rem;
    max-width: max-content;
}

.book-case h2{
    position: sticky;
    font-style: italic;
    left: 2rem;
    width: fit-content;
    color: var(--toledo);
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
}

.book-shelf{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 10px;
    justify-content:left;
    align-items: center;
    grid-auto-flow: column;
}

.book-container{
    background-color: white;
    color: var(--toledo);
    height: 15rem;
    width: 25rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border-left: 1rem solid var(--chambray);
}

.b-title{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#reading .book-container {
    border-left: 1rem solid var(--bordeaux);
}